@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100vh;

  background-color: hsl(235, 21%, 11%);
  color: white;
  font-family: 'Josefin Sans', sans-serif;

  --bright-blue: hsl(220, 98%, 61%);
  --cool-gradient: linear-gradient(
    135deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
  --ff: 'Josefin Sans', sans-serif;

  --body-bg: hsl(235, 21%, 11%);
  --todos-bg: hsl(235, 24%, 19%);
  --hr-color: hsl(237, 14%, 26%);
  --main-text-color: hsl(234, 39%, 85%);
  --bottom-text-color: hsl(233, 14%, 35%);
  --bottom-text-color-hover: hsl(236, 33%, 92%);
  --placeholder-color: hsl(234, 11%, 52%);
  --finished-todo-color: var(--bottom-text-color);

  --bg-mobile-url: url('./images/bg-mobile-dark.jpg');
  --bg-desktop-url: url('./images/bg-desktop-dark.jpg');

  --shadow: 0 35px 35px hsla(0, 0%, 0%, 0.3);
}

.theme-light {
  --body-bg: hsl(0, 0%, 98%);
  --todos-bg: white;
  --hr-color: hsl(236, 33%, 92%);
  --main-text-color: hsl(235, 19%, 35%);
  --bottom-text-color: hsl(236, 9%, 61%);
  --bottom-text-color-hover: var(--main-text-color);
  --placeholder-color: hsl(234, 11%, 52%);
  --finished-todo-color: hsl(233, 11%, 84%);

  --bg-mobile-url: url('./images/bg-mobile-light.jpg');
  --bg-desktop-url: url('./images/bg-desktop-light.jpg');

  --shadow: 0 35px 35px hsla(0, 0%, 0%, 0.07);
}
